{{> navbar}}
<main class="container">
    <div class="row">
        {{#if cart.products}}
            <h2 class="my-3">{{ title }}</h2>
            <div class="col">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Título</th>
                            <th>Descripción</th>
                            <th>Precio</th>
                            <th>Categoría</th>
                            <th>Cantidad</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each cart.products}}
                            <tr>
                                <td>{{this.product.title}}</td>
                                <td>{{this.product.description}}</td>
                                <td>{{this.product.price}}</td>
                                <td>{{this.product.category}}</td>
                                <td><input id="{{this.product._id}}" type="number" class="form-control" value="{{this.quantity}}"></td>
                                <td>
                                    <button data-id="{{this.product._id}}" class="btn btn-success btn-sm bg-gradient updateProduct">Actualizar</button>
                                    <button data-id="{{this.product._id}}" class="btn btn-danger btn-sm bg-gradient removeProduct">Eliminar</button>
                                </td>
                            </tr>
                        {{/each}}
                    </tbody>
                </table>
                <button data-id="{{cart._id}}" id="clearCart" class="btn btn-danger bg-gradient my-3">Limpiar carrito</button>
            </div>
            <script src="./js/cart.js"></script>
        {{else}}
            <h2 class="my-3">No hay productos en el carrito</h2>
        {{/if}}
    </div>
</main>
