<main class="container">
    <h1 class="text-center my-3">{{ title }}</h1>
    <div class="row">
        {{#if cart.products}}
            <h3>Productos en el carrito</h3>
            <div class="col">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Título</th>
                            <th>Descripción</th>
                            <th>Precio</th>
                            <th>Categoría</th>
                            <th>Cantidad</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each cart.products}}
                            <tr>
                                <td>{{this.product.title}}</td>
                                <td>{{this.product.description}}</td>
                                <td>{{this.product.price}}</td>
                                <td>{{this.product.category}}</td>
                                <td>{{this.quantity}}</td>
                            </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        {{else}}
            <h3>No hay productos en el carrito</h3>
        {{/if}}
    </div>
</main>